*{
    padding: 0;
    margin: 0;
}
.footer{
    background: #353333;
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
 height: 10%;
  color: white;
  text-align: center;
}
p{
    color: white;
   margin-top: 20px;
   opacity: 80%;
}

.footer.searchFooter {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 999;
}