.menu{
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid #ccc;
}
.top{
  width: 70%;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
h4{
    display: flex;
    justify-content: center;
    flex-direction: row;
padding-top: 5px;
}
.span-p{
    padding-top: 5px;
    padding-left: 250px;
}
.span1{
 padding: 5px;
 
}
.sidebar {
   height: 450px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:rgb(245, 245, 245);
    overflow-x: hidden;
    padding-top: 16px;
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #818181;
    display: block;
  }

  .btn-filter{
    
        color:black;
        background-color: rgb(209, 218, 224);
        box-sizing: border-box;
        margin-top: 5%;
        border-radius: 5px;
        width:60%;
       height: 40px;
       margin-left: 50px;
  }
.filter-list{
    padding-top: 10px;
    margin-left: 60px; 
}
div.scroll {
    background-color:rgb(245, 245, 245);
   
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
    scroll-behavior: smooth;

  }
