.middle{
    background: #ffffff;
    width: 75%;
   
  
}
.table{
    margin-top: 90px;
    background-color:rgb(247, 243, 243);
    margin-left: 45px;
    margin-right: 25px;
   
    height: 100%;
}